

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: border-box;
}

.container{
    background-color: rgb(206, 229, 238);
    height: 40%;
}
.sub_container{
    max-width: 1064px;
    margin: auto;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;

}
.sub_container h3{
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
 
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
main{
    display: flex;
    width: auto;
    gap: 1rem;
    justify-content: center;
    
    
}
.box_one{
    border: 40x solid;
    padding: 1rem;
    height: 100%;
    border-radius: 6px;
    background-color: #fff;
    width: 250px;
   
}
.sara_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_one p{
    color: rgb(116, 115, 115);
}
.sara_may{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.sara_box i{
    color: #1da1f2;
    font-size: 25px;
}
.comment{
    display: flex;
    justify-content: space-between;
}
.comment i{
    color: red;
    font-size: 24px;
}
.comment p{ 
    display: flex;
    align-items: center;
    color: rgb(116, 115, 115);
}  
.price {
    max-width: 50%;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
}
.box_price{
    border: solid 1px rgb(230, 189, 189);
    height: 330px;
    width: 350px;
    margin: auto;
    background-color: rgb(247, 247, 232);
    padding-top: 1rem;
}
li{
    list-style-position: inside;
    list-style-image: url("tick.png");
    font-size: 15px;
    margin: 20px;
    line-height: 2;
    list-style: none;
}
li:before{
    content: "\2705";
    border-style: none;
    
}
.box_price i{
    color: #fff;
    font-size: 20px;
    padding-top: 5px;
}
.box_price p{
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #1da1f2;
    padding-bottom: 0.5rem;
    margin-top: 10px;
   
    color: #fff;
}
.box_price h1, h4{
    margin-left: 10px;
}